@use "tailwindcss" as *;
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --gray: #adadad;
  /* card border */
  --light-gray: #f1f1f1;
  --black: #000000;
  /* font */
  --white: #ffffff;

  --blue: #0056a3;
  --tg-blue: #039be5;
  --red: #e20413;
  --green: #04c704;

  --maxWidth: 1280px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 400;
  color: var(--black);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* /////////////////// */

.main {
  display: flex;
  flex-direction: column;
  gap: 80px;
  max-width: var(--maxWidth);
  margin: 60px auto 160px;
}

.products-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.set-wrapper,
.items-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.set-wrapper {
  gap: 16px;
}

.set-category {
  position: relative;
  width: calc((100% - 80px) / 6);
  max-width: 200px;
}

.set-category-image {
  border-radius: 10px;
}

.set-category-title {
  //font-family: Roboto Condensed;
  position: absolute;
  top: 20px;
  left: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: var(--white);
}

.products-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.products-header {
  //font-family: Roboto Condensed;
  font-weight: 500;
  font-size: 36px;
  line-height: 1;
}

.items-wrapper {
  gap: 15px;
}

.items-wrapper {
  gap: 15px;
}

.item-category {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: calc((100% - 90px) / 7);
  height: 190px;
  background: #e2e2e2;
  border-radius: 10px;
  padding: 15px;
}

.item-category-title {
  //font-family: Roboto Condensed;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
}

.banner {
  width: 100%;
  height: auto;
}

.advantages {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.advantage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: calc(100% / 4);
  max-width: 284px;
  text-align: center;
}

.advantage-img {
  width: 110px;
  height: 110px;
  margin-bottom: 20px;
}

.advantage-title {
  //font-family: Roboto Condensed;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--blue);
}

.advantage:nth-child(2n) .advantage-title {
  color: var(--red);
}

.advantage-text {
  font-weight: 400;
  font-size: 10px;
  line-height: 1;
}
